@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var items in Model.GroupBy(p=>p.CategoryName))
    {
        <div class="card">
            <div class="card-header">
                <h2>@items.Key</h2>
            </div>
            <div class="card-body">
                <div class="row">

                @foreach (var item in items.OrderBy(p=>p.Name).Take(3))
                {
                    <div class="col-md-4">
                        <div class="card">
                            <div class="row">

                                <div class="col-9">
                                    
                            <label>Name : @item.Name</label>
                            <label>Price : @item.Price per @item.Units</label>
                            <label>Available in Stack : @item.Quantity</label>
                                </div>
                                <div class="col-3">
                                    <img src="@item.FilePath" height="100" width="100" />
                                </div>
                            </div>
                            
                            <a class="btn btn-outline-primary" asp-controller="home" asp-action="addtosession" asp-route-id="@item.Id" >Add To Cart</a>
                        </div>
                        </div>
                }
                </div>
            </div>
            </div>
    }
</div>
